<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="Natação, Swimming, Desporto">
    <meta name="desciption" content="Introdução a Natação">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <title>Natação</title>
</head>
<body>
    <header>
        <h1>Natação</h1>
    </header>
    <nav>
        <a href="index.html">
            <span class="material-icons md-24">home</span>
            Home
        </a>
        <a class="active" href="estilos.html">
            <span class="material-icons md-24">pool</span>
            Estilos
        </a>
        <a href="benificios.html">
            <span class="material-icons md-24">thumb_up</span>
            Benifícios
        </a>
        <a href="provas.html">
            <span class="material-icons md-24">timer</span>
            Provas
        </a>
        <a href="galeria.html">
            <span class="material-icons md-24">mms</span>
            Galeria
        </a>
        <a href="comentarios.html">
            <span class="material-icons md-24">feedback</span>
            Comentarios
        </a>
        <a href="about.html">
            <span class="material-icons md-24">build</span>
            About
        </a>
    </nav>
    <main class="mainDisplayFlex">
        <section style="display: flex;">
            <p id="firstBig" style="text-align:justify;">
                Sendo a natação um desporto em que o corpo muda constantemente de posição, isto é, o posicionamento do tórax e o movimento de pernas e braços, existem oficialmente quatro tipos de estilos.
                <a href="https://pt.wikipedia.org/wiki/Nata%C3%A7%C3%A3o_pura">[1]</a>
            </p>
        </section>
        
        <!--Crawl-->
        <section>
            <article>
                <h3>1. Crawl</h3>
                <figure style="text-align: center;">
                    <a href="https://swimchannel.net/crawl/">
                        <img src="images/EstilosCrawl.jpg" class="borBlueRad25">
                    </a>
                </figure>

                <p id="firstBig" style="text-align: justify;">
                   Crawl é o unico estilo que não tem uma prova dedicada 100% a ele, mas sendo o estilo mais rapido e mais simples de todos é o usado nas provas de estilo livre.
                </p>
                <h4>Em que consiste?</h4>
                <p id="firstBig" style="text-align: justify;">
                    Crawl consiste em estar de barriga para baixo e rodar os braços e também tem que se ter batimento alternado de pernas. É o mais rapido e também o menos complexo de se nadar.

                    Se pretende melhorar a sua tecnica tem aqui um video especifico para isso
                </p>
                <iframe class="centerIframeOrSvg" width="500" height="255" style="max-width: 100%; border: 5px solid rgb(8, 70, 95);" src="https://www.youtube.com/embed/-UzYFyaeGEY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
        </section>

        <!--Costas-->
        <section>
            <article>
                <h3>2. Costas</h3>
                <figure style="text-align: center;">
                    <a href="https://www.pinterest.pt/mastersswimming/backstroke-roundup/">
                        <img src="images/EstilosCostas.jpg" class="borBlueRad25">
                    </a>
                </figure>

                <p id="firstBig" style="text-align: justify;">
                   Costas é outro estilo da natação. Como o proprio nome indica este estilo é feito de costas para o fundo. 
                   Costas tem também como caracteristica o facto de ser o unico estilo em que se salta/inicia a prova dentro de água.
                </p>
                <h4>Em que consiste?</h4>
                <p id="firstBig" style="text-align: justify;">
                    Este estilo consiste em estar de barriga para cima. O movimento de braços e pernas é muito identico com Crawl.
                    Agora pergunta-se, "Como é que não é tão rapido?". A resposta é simples, o facto de a parte subaquatica da braçada ser feita de costas, a força que exercemos para nos mover é muito menor.

                    Se quiser melhorar o seu nado de costas tem aqui um video que o pode ajudar nisso
                </p>
                <iframe class="centerIframeOrSvg" width="500" height="255" style="max-width: 100%; border: 5px solid rgb(8, 70, 95);" src="https://www.youtube.com/embed/MrFt6JHii8w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
        </section>

        <!--Bruços-->
        <section>
            <article>
                <h3>3. Bruços</h3>
                <figure style="text-align: center;">
                    <a href="https://www.swimming.org/masters/improving-your-breaststroke-technique/">
                        <img src="images/EstilosBruços.png" class="borBlueRad25">
                    </a>
                </figure>

                <p id="firstBig" style="text-align: justify;">
                   Bruços é um dos 2 estilos de nado simultâneo. Este estilo é o mais lento dos 4 estilos.
                </p>
                <h4>Em que consiste?</h4>
                <p id="firstBig" style="text-align: justify;">
                    Bruços consiste num movimento simultâneo de ambos os braços e pernas, isto é, os braços e pernas movem-se ambos simetricamente e ao mesmo tempo.
                    A particularidade deste estilo é o facto de ser aquele que mais usa a força das pernas.

                    Se acha que parece muito complicado, talvez este video o ajude nesse aspeto
                </p>
                <iframe class="centerIframeOrSvg" width="500" height="255" style="max-width: 100%; border: 5px solid rgb(8, 70, 95);" src="https://www.youtube.com/embed/EElzlIMjk_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
        </section>

        <!--Mariposa-->
        <section>
            <article>
                <h3>4. Mariposa</h3>
                <figure style="text-align: center;">
                    <a href="https://knoow.net/desporto/despaquaticos/mariposa-natacao/">
                        <img src="images/EstilosMariposa.jpg" class="borBlueRad25">
                    </a>
                </figure>

                <p id="firstBig" style="text-align: justify;">
                    O ultimo estilo é também o mais cansativo, a Mariposa é uma adaptação do termo em inglês, Butterfly. No brasil é mesmo usada uma tradução literal, daí mariposa ser também conhecido em português por borboleta.
                </p>
            
                <h4>Em que consiste?</h4>
                <p id="firstBig" style="text-align: justify;">
                    Este estilo é o mais cansativo pelo simples facto de usar muito a força dos ombros e braços para o movimento simultanio dos braços, e também do elevado uso dos abdominais para o movimento das pernas, As pernas têm que se movimentar sempre em simultâneo e daí o elvado uso abdominal.

                    Se acha que parece muido complexo e cansativo, talvez este video o ajude a não se cansar tanto
                </p>
                <iframe class="centerIframeOrSvg" width="500" height="255" style="max-width: 100%; border: 5px solid rgb(8, 70, 95);" src="https://www.youtube.com/embed/riIyImmuB_M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
        </section>

    </main>
    <aside>
        <svg width="300" height="200">
            <image href="images/wordcloud.png" width="100%" height="100%"></image>
            <!-- opacity a zero para não aparecer na figura os rectangulos-->
            <!--points -> sup. direito ; inf. direito; inf. esquerdo ; sup. esquerdo-->
            <a href="index.html">
                <polygon opacity="0.0" points="0,0 0,200 300,200 300,0" />
            </a>
            <a href="benificios.html" >
                <polygon opacity="0.0" points="101,101 101,121 245,121 245,101" />
            </a>
            <a href="galeria.html">
                <polygon opacity="0.0" points="151,83 155,100 254,100 254,83" />
            </a>
            <a href="provas.html">
                <polygon opacity="0.0" points="86,177 103,194 178,153 169,140" />
            </a>
            <a href="estilos.html">
                <polygon opacity="0.0" points="87,57 104,72 172,24 160,16" />
            </a>
            <a href="comentarios.html">
                <polygon opacity="0.0" points="55,121 55,142 245,142 245,121" />
            </a>
            <a href="about.html">
                <polygon opacity="0.0" points="55,29 62,48 143,24 132,8" />
            </a>
        </svg>
    </aside>
    <footer>
        <hr>
        Projeto - Programação Web - Uni. Lusófona - 2020/2021
    </footer>
</body>
</html>