<!DOCTYPE html>
<html lang="pt">
<head>
    <style>
        section > figure > a > img {
            border: 5px solid blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="Natação, Swimming, Desporto">
    <meta name="desciption" content="Introdução a Natação">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <title>Natação</title>
</head>
<body>
    <header>
        <h1>Natação</h1>
    </header>
    <nav>
        <a href="index.html">
            <span class="material-icons md-24">home</span>
            Home
        </a>
        <a href="estilos.html">
            <span class="material-icons md-24">pool</span>
            Estilos
        </a>
        <a href="benificios.html">
            <span class="material-icons md-24">thumb_up</span>
            Benifícios
        </a>
        <a href="provas.html">
            <span class="material-icons md-24">timer</span>
            Provas
        </a>
        <a  class="active" href="galeria.html">
            <span class="material-icons md-24">mms</span>
            Galeria
        </a>
        <a href="comentarios.html">
            <span class="material-icons md-24">feedback</span>
            Comentarios
        </a>
        <a href="about.html">
            <span class="material-icons md-24">build</span>
            About
        </a>
    </nav>
    <main>
        <!--STICKY IMAGE-->
        <section class="sticky">
            <figure>
                <a href="https://fpnatacao.pt/noticia.php?codigo=737">
                    <img style="border: 5px solid rgb(36, 120, 216);" src="images/GaleriaSticky.jpg">
                </a>
                <figcaption>Nadador em Águas Abertas</figcaption>
            </figure>
        </section>
        <!--CONTENTOR FLEX-->
        <h2 style="text-align: center;">Estilos</h2>
        <section class="contentorFlex">
            <figure>
                <a href="https://desporto.sapo.pt/modalidades/natacao/artigos/alexis-santos-bate-recorde-nacional-dos-50-metros-brucos-em-piscina-curta">
                    <img src="images/GaleriaBruços.jpg">
                </a>
                <figcaption style="text-align: center;">Bruços</figcaption>
            </figure>
            <figure>
                <a href="https://www.goodsports.com.br/tecnicas-de-natacao-nado-de-costas/">
                    <img src="images/GaleriaCostas.jpg">
                </a>
                <figcaption style="text-align: center;">Costas</figcaption>
            </figure>
            <figure>
                <a href="https://www.medinas.com.br/dicas/nado-crawl-dicas-praticas-para-melhorar-a-performance/">
                    <img src="images/GaleriaCrawl.jpg">
                </a>
                <figcaption style="text-align: center;">Crawl</figcaption>
            </figure>
            <figure>
                <a href="https://www.webrun.com.br/conheca-as-diferencas-de-cada-tipos-de-nado-natacao/">
                    <img src="images/GaleriaMariposa.jpg">
                </a>
                <figcaption style="text-align: center;">Mariposa</figcaption>
            </figure>
            <figure>
                <a href="https://profslusos.blogspot.com/2016/05/piscina-olimpica-que-maravilha.html">
                    <img src="images/GaleriaPiscina.jpg">
                </a>
                <figcaption style="text-align: center;">Piscina Olímpica</figcaption>
            </figure>
        </section>
        <!--RELATIVE AND ABSOLUTE-->
        <h2 style="text-align: center;">Medalhas de Ouro Olímpicas</h2>
        <p style="text-align: justify;">
            Na foto da esquerda está Michael Phelps, que lidera a categoria de homens com 28 medalhas olímpicas.<br>
            Na foto da direita está Jenny Thompson, que lidera a categoria de mulheres com 12 medalhas olímpicas.
        </p>
        <section>
            <figure class="relativo">
                <a href="https://cctvgear.co.uk/michael-phelps-the-greatest-athlete-in-olympic-history/">
                    <img style="border: 5px solid grey;" src="images/GaleriaRelativePhelps.jpg">
                </a>
                <figure class="absoluto">
                    <a href="https://www.tupi.fm/esportes/coronavirus-ex-nadadora-chefia-equipe-medica-em-hospital-nos-estados-unidos/">
                        <img style="border: 5px solid grey;" src="images/GaleriaAbsoluteThompson.jpg">
                    </a>
                </figure>
            </figure>
        </section>
        <br><br><br>
        <!--FIXED IMAGE-->
        <section class="fixo">
            <figure>
                <a href="https://g1.globo.com/sp/itapetininga-regiao/especial-publicitario/fullrepel/maxima-protecao-nao-custa-caro/noticia/2019/08/09/natacao-10-dicas-de-seguranca-em-aguas-abertas.ghtml">
                    <img style="border: 5px solid rgb(36, 120, 216);" src="images/GaleriaFixed.jpg">
                </a>
                <figcaption>Prova de Águas Abertas</figcaption>
            </figure>
        </section>
    </main>
    <aside>
        <svg width="300" height="200">
            <image href="images/wordcloud.png" width="100%" height="100%"></image>
            <!-- opacity a zero para não aparecer na figura os rectangulos-->
            <!--points -> sup. direito ; inf. direito; inf. esquerdo ; sup. esquerdo-->
            <a href="index.html">
                <polygon opacity="0.0" points="0,0 0,200 300,200 300,0" />
            </a>
            <a href="benificios.html" >
                <polygon opacity="0.0" points="101,101 101,121 245,121 245,101" />
            </a>
            <a href="galeria.html">
                <polygon opacity="0.0" points="151,83 155,100 254,100 254,83" />
            </a>
            <a href="provas.html">
                <polygon opacity="0.0" points="86,177 103,194 178,153 169,140" />
            </a>
            <a href="estilos.html">
                <polygon opacity="0.0" points="87,57 104,72 172,24 160,16" />
            </a>
            <a href="comentarios.html">
                <polygon opacity="0.0" points="55,121 55,142 245,142 245,121" />
            </a>
            <a href="about.html">
                <polygon opacity="0.0" points="55,29 62,48 143,24 132,8" />
            </a>
        </svg>
    </aside>
    <footer>
        <hr>
        Projeto - Programação Web - Uni. Lusófona - 2020/2021
    </footer>
</body>
</html>